:root {
  --green: #0F8C79;
  --green-light: #6BBBA1;
  --red: #BD2D28;
  --red-light: #E25A42;

  --white: #fff;
  --gray-10: #F5F3F2;
  --gray-15: #e4e4e3;
  --gray-20: #C0C0BB;
  --gray-30: #8E8883;
  --gray-40: #635F5D;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;  
}

/* ROOT ELEMENT */
#root {
  min-height: 100vh;
  
  display: flex;
  align-items: center;
  justify-content: center;
  
  background-color: var(--gray-10);
  position: relative;
  overflow-y: hidden;
  overflow-x: auto;
}

/* TEXT */
text {
  fill: var(--gray-40);
  font-size: 1.4em;
}

/* TICK LINES */
.tick line {
  stroke: var(--gray-15);
}

/* TITLE */
#title {
  text-align: left;
  font-size: 2em;
  font-weight: 500;
  fill:  var(--gray-40);
}

#sub-title {
  font-size: 1.6em;
  fill: var(--gray-30);
}

/* AXIS LABEL */
.axis-label {
  font-size: 2em;
}

/* TOOLTIP */
#tooltip {
  position: absolute;
  max-width: 300px;
  padding: 10px;
  border-radius: 6px;
  color: var(--white);
  background-color: rgba(0,0,0, .8);
  text-align: center;
 
  pointer-events: none;
  transform: translate(-50%, 0);
  z-index: 1;

  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 1.5;
  justify-content: center;
}

.tooltip-name {
  width: 100%;
  padding-bottom: 5px;
  border-bottom: 2px solid var(--white);
  margin-bottom: 10px;
}

.tooltip-details {
  line-height: 1.7;
  text-align: left;
  align-self: flex-start;
}

/* CIRCLES */
.dot {
  opacity: .7;
}

.clean {
  fill: var(--green);
}
.clean:hover {
  fill: var(--green-light);
}

.allegations {
  fill: var(--red);
}
.allegations:hover {
  fill: var(--red-light);
}
