:root {
  --green: #0F8C79;
  --green-light: #6BBBA1;
  --red: #BD2D28;
  --red-light: #E25A42;

  --white: #fff;
  --gray-10: #F5F3F2;
  --gray-20: #C0C0BB;
  --gray-30: #8E8883;
  --gray-40: #635F5D;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  height: 100vh;
  
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: var(--gray-10);
}

text {
  fill: var(--gray-40);
  font-size: 1.4em;
}

.tick line {
  stroke: var(--gray-20);
}

#title {
  text-align: left;
  font-size: 2em;
  font-weight: 500;
  fill:  var(--gray-40);
}

#sub-title {
  font-size: 1.6em;
  fill: var(--gray-30);
}

.axis-label {
  font-size: 2em;
}

#source-label {
  font-size: 1.1em;
}

#tooltip {
  position: absolute;
  width: 150px;
  height: 60px;
  padding: 5px 0;
  border-radius: 6px;
  color: var(--white);
  background-color: rgba(0,0,0, .5);
  text-align: center;
 
  pointer-events: none;
  transform: translate(-100px, -60px);
  z-index: 1;

  display: flex;
  align-items: center;
  line-height: 1.5;
  justify-content: center;

}

.dot {
  opacity: .8;
}

.clear {
  fill: var(--green);
}
.clear:hover {
  fill: var(--green-light);
}

.allegations {
  fill: var(--red);
}
.allegations:hover {
  fill: var(--red-light);
}
